<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="styles.css">



</head>

<body>

  <h1>Add New Skill</h1>

  <form action="/skills" method="POST">

    <label for="skill">Skill:</label>
    <input type="text" id="skill" name="skill" required>

    <label for="level">Level:</label>
    <input type="text" id="level" name="level" required>

    <button type="submit">Add Skill</button>

  </form>

</body>

</html>
